<div class="block">

    <div class="element">
    <label>{'Use seconds'|i18n( 'design/standard/class/datatype' )}:</label>
    <p>{if $class_attribute.data_int2|eq(1)}
       {'Yes'|i18n( 'design/standard/class/datatype' )}
       {else}
       {'No'|i18n( 'design/standard/class/datatype' )}
       {/if}
    </p>
    </div>

    <div class="element">
    <label>{'Default value'|i18n( 'design/standard/class/datatype' )}:</label>
    {if eq( $class_attribute.data_int1, 1 )}
        <p>{'Current time'|i18n( 'design/standard/class/datatype' )}</p>
    {else}
        <p><i>{'Empty'|i18n( 'design/standard/class/datatype' )}</i></p>
    {/if}
    </div>

    <div class="break"></div>
</div>
