<div class="block">
    {* Use seconds. *}
    <div class="element">
        <label><input type="checkbox" name="ContentClass_ezdatetime_use_seconds_{$class_attribute.id}" {if $class_attribute.data_int2|eq(1)}checked="checked"{/if} /> {'Use seconds'|i18n( 'design/standard/class/datatype' )}</label>
    </div>

    {* Default value. *}
    <div class="element">
    <label for="ContentClass_ezdatetime_default_{$class_attribute.id}">{'Default value'|i18n( 'design/standard/class/datatype' )}:</label>
    <select id="ContentClass_ezdatetime_default_{$class_attribute.id}" name="ContentClass_ezdatetime_default_{$class_attribute.id}">
    <option value="0" {if eq( $class_attribute.data_int1, 0 )}selected="selected"{/if}>{'Empty'|i18n( 'design/standard/class/datatype' )}</option>
    <option value="1" {if eq( $class_attribute.data_int1, 1 )}selected="selected"{/if}>{'Current datetime'|i18n( 'design/standard/class/datatype' )}</option>
    <option value="2" {if eq( $class_attribute.data_int1, 2 )}selected="selected"{/if}>{'Adjusted current datetime'|i18n( 'design/standard/class/datatype' )}</option>
    </select>
    </div>

    <div class="break"></div>
</div>

{* Custom default value. *}
<div class="block">
<fieldset>
    <legend>{'Current date and time adjusted by'|i18n( 'design/standard/class/datatype' )}</legend>

    <div class="block">
    {* Year. *}
    <div class="element">
        <label for="ContentClass_ezdatetime_year_{$class_attribute.id}">{'Year'|i18n( 'design/standard/class/datatype' )}:</label>
        <input type="text" id="ContentClass_ezdatetime_year_{$class_attribute.id}" name="ContentClass_ezdatetime_year_{$class_attribute.id}" size="5" value="{if $class_attribute.content.year}{$class_attribute.content.year}{/if}" />
    </div>

    {* Month. *}
    <div class="element">
        <label for="ContentClass_ezdatetime_month_{$class_attribute.id}">{'Month'|i18n( 'design/standard/class/datatype' )}:</label>
        <input type="text" id="ContentClass_ezdatetime_month_{$class_attribute.id}" name="ContentClass_ezdatetime_month_{$class_attribute.id}" size="3" value="{if $class_attribute.content.month}{$class_attribute.content.month}{/if}" />
    </div>

    {* Day. *}
    <div class="element">
        <label for="ContentClass_ezdatetime_day_{$class_attribute.id}">{'Day'|i18n( 'design/standard/class/datatype' )}:</label>
        <input type="text" id="ContentClass_ezdatetime_day_{$class_attribute.id}" name="ContentClass_ezdatetime_day_{$class_attribute.id}" size="3" value="{if $class_attribute.content.day}{$class_attribute.content.day}{/if}" />
        &nbsp;
        &nbsp;
        &nbsp;
    </div>

    {* Hour. *}
    <div class="element">
        <label for="ContentClass_ezdatetime_hour_{$class_attribute.id}">{'Hour'|i18n( 'design/standard/class/datatype' )}:</label>
        <input type="text" id="ContentClass_ezdatetime_hour_{$class_attribute.id}" name="ContentClass_ezdatetime_hour_{$class_attribute.id}" size="3" value="{if $class_attribute.content.hour}{$class_attribute.content.hour}{/if}" />
    </div>

    {* Minute. *}
    <div class="element">
        <label for="ContentClass_ezdatetime_minute_{$class_attribute.id}">{'Minute'|i18n( 'design/standard/class/datatype' )}:</label>
        <input type="text" id="ContentClass_ezdatetime_minute_{$class_attribute.id}" name="ContentClass_ezdatetime_minute_{$class_attribute.id}" size="3" value="{if $class_attribute.content.minute}{$class_attribute.content.minute}{/if}" />
    </div>

    {* Second. *}
    <div class="element">
        <label for="ContentClass_ezdatetime_second_{$class_attribute.id}">{'Second'|i18n( 'design/standard/class/datatype' )}:</label>
        <input type="text" id="ContentClass_ezdatetime_second_{$class_attribute.id}" name="ContentClass_ezdatetime_second_{$class_attribute.id}" size="3" value="{if $class_attribute.content.second}{$class_attribute.content.second}{/if}" />
    </div>

    <div class="break"></div>

</div>
</fieldset>
</div>
