{def $oldAttr=$diff.old_content
     $newAttr=$diff.new_content}
<div class="attribute-view-diff-old">
<label>{'Version: %old'|i18n( 'design/standard/content/datatype',, hash( '%old', $old ) )}</label>
{attribute_view_gui attribute=$oldAttr}
</div>
<div class="attribute-view-diff-new">
<label>{'Version: %new'|i18n( 'design/standard/content/datatype',, hash( '%new', $new ) )}</label>
{attribute_view_gui attribute=$newAttr}
</div>
